<form action="">
  <div class="form">
    <app-input
      (inputVal)="pokemonNameHandler($event)"
      [id]="input.id"
      [type]="input.type"
      [label]="input.label"
      [disabled]="input.disabled"
      [className]="input.className"
      [placeholder]="input.placeholder"
    >
    </app-input>
    <label class="form__label" for="">Select pokemon's type</label>
    <ng-select
      [items]="POKEMON_TYPES"
      bindLabel="type"
      placeholder="Choose pokemon"
    ></ng-select>
    <app-button
      (click)="startSearch()"
      [name]="button.name"
      [type]="button.type"
      [disabled]="button.disabled"
      [className]="button.className"
    >
    </app-button>


  <!-- <div *ngIf="POKEMONS_LIST">
    <div *ngFor="let pokemon of POKEMONS_LIST.results">
      {{ pokemon.name }}
    </div>
  </div> -->

  </div>
</form>