<form action="">
  <div class="form">
    <app-input
      (inputVal)="pokemonNameHandler($event)"
      [id]="input.id"
      [type]="input.type"
      [label]="input.label"
      [disabled]="input.disabled"
      [className]="input.className"
      [placeholder]="''"
    >
    </app-input>
    <label class="form__label" for="">Select pokemon's type</label>
    <ng-select
      ngModel
      (ngModelChange)="pokemonTypeHandler($event)"
      [ngModelOptions]="{standalone: true}"
      [items]="POKEMON_TYPES"
      bindLabel="type"
      [placeholder]="'Choose pokemon'"
    >
    </ng-select>
    <app-button
      (click)="startSearch()"
      [name]="button.name"
      [type]="button.type"
      [disabled]="button.disabled"
      [className]="button.className"
    >
    </app-button>
  </div>
</form>
