.list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: #fff;
  border-radius: 3px;
  margin-top: calc(var(--size-big) * 2);
  padding: var(--size-big);
  box-shadow: 0px 10px 9px -5px rgba(0,0,0,0.2);
}

.pokemons {
  margin-top: 0;
}

.pokemons__item {
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: var(--size-medium);
  margin: var(--size-small) 0;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.pokemons__item:hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.pokemons__name {
  color: var(--color-primary-darken);
  margin-bottom: var(--size-medium);
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 2px;
}

.pokemons__title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: var(--size-small);
}

.pokemons__parameters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--size-small);
}

.pokemons__ability {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-medium);
  background-color: var(--color-primary-darken);
  color: #fff;
  border-radius: 4px;
  margin-right: var(--size-small);
}

.pokemons__param {
  flex-grow: 1;
}

.not-found {
  display: flex;
  justify-content: center;
  padding: var(--size-medium);
  font-size: 14px;
  text-transform: uppercase;
  margin: var(--size-big) 0;
  background-color: var(--color-primary);
  color: #fff;
}



